html {
    background-color: antiquewhite;
    background-image: url("images/1-big-viburnum.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.header {
    background-color: rgb(0, 255, 255, 30%);
}

.main {
    background-color: rgb(144, 238, 144);
}