html {
    background-image: url("images/2-square-tile.gif");
    background-attachment: fixed;

}

.background-color {
    background-color: rgba(255, 233, 194, 0.5);
    border-color: bisque;
    border-style: solid;
}